<h1>Loan Payment</h1>

<p>If your interest rate is <%= @rate %>, your number of payments is <%= @payments %> and your principal value is <%= @value %>, then your loan payment will be <%= @monthly_payment %>.</p>
